@import "tailwindcss";
@import "@nuxt/ui";

@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Roboto', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

:root {
  --ui-primary: #000000;
  --ui-secondary: #fbae17;
  --ui-bg: #ffcc5a;
}

.dark {

}
